{
  "env": {
    "node": true
  },
  "plugins": ["node"],
  "extends": [
    "eslint:recommended",
    "plugin:node/recommended"
  ],
  "rules": {
    "arrow-parens": 2,
    "eol-last": 2,
    "comma-dangle": [2, "always-multiline"],
    "no-console": 0,
    "no-empty": 0,
    "no-trailing-spaces": 2,
    "quotes": [2, "single"],
    "semi": 2
  }
}
